@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-track {
  background: white;
}
body::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}

div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
div::-webkit-scrollbar-track {
  background: white;
}
div::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

table thead {
  user-select: none;
  white-space: nowrap;
}
