@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

table thead {
  user-select: none;
  white-space: nowrap;
}

pre {
  font-family: inherit;
  font-size: inherit;
}
